package ${package}.modules.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.nb6868.onex.common.jpa.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {

}
