package ${package}.modules.${moduleName}.service;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.dto.${className}DTO;
import ${package}.${moduleName}.entity.${className}Entity;

import com.nb6868.onex.common.jpa.DtoService;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 */
@Service
public class ${className}Service extends DtoService<${className}Dao, ${className}Entity, ${className}DTO> {


}
